# dependencies
node_modules/

php-backend/

# env files
.env
.env.local

# logs
logs/
*.log

# build outputs
dist/
build/
frontend/dist/
frontend/build/

# Prisma
prisma/dev.db
prisma/*.db

# OS files
.DS_Store

# Vercel
.vercel/